name: nuget
on:
  push:
    tags:
      - '*'

jobs:
  Publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
      with:
        ref: ${{ github.ref }}

    - uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x

    - name: Run tests
      run: dotnet test -c Release

    - name: Package
      run: dotnet pack -c Release

    - name: Publish
      run: dotnet nuget push src/bin/Release/LoadTestToolbox.$(echo ${{ github.ref }} | sed 's/refs\/tags\///').nupkg -k ${{ secrets.NUGET_TOKEN }} -s https://api.nuget.org/v3/index.json